.chatlistContainer {
  /* width: 250px; */

  /* border-top-right-radius: 30px; */
  /* border-bottom-right-radius: 30px; */
}

/* .innerContainer {
  /* padding-top: 12px; */
/* text-transform: capitalize; */


/* } */

.btncontainer {
  border-bottom: 1px solid #201D16 !important;
  /* padding: 15px 6px; */

  /* background-color: red ; */
  /* padding-bottom: 12px; */
}

@media (max-width:600px) {
  .btncontainer {}
}

.usercontainer {
  /* border-bottom: 1px solid #201D16 !important; */
  padding: 10px 10px;
  /* background-color: red ; */

  /* padding-bottom: 12px; */
}

.support_btn_active {
  border-bottom: 1px solid #FBBF04 !important;
}

.allbtn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px;
  /* text-transform: capitalize; */
  line-height: 20px;
  border-radius: 0px !important;
  color: #FFFFFF !important;
  padding: 15px 6px !important;
}

.unReadbtn {
  font-family: 'Inter';
  font-style: normal !important;
  font-weight: 600 !important;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF !important;
  border-radius: 0px !important;
  opacity: 0.6;
  padding: 15px 6px !important;
}

/* 
.unReadbtn {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF !important;
  opacity: 0.6;
} */

.userProfile {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  /* border: 0px; */
  /* background-color: red; */
}

.username {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF
}

.worktitle {
  font-family: Inter;
  font-size: 14px;
  /* font-weight: 600; */
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;

  opacity: 0.6;
}

.usermessgae {
  margin: 10px 10px;
  padding: 12px;
  background: #201D16;
  border-radius: 15px;
}

/*   '
  .linkContainer {
    padding-left: 20px;
    margin-top: 50px;
  } */