.mainContainer {
  width: 100%;
  height: 10vh;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

.m_headerName {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600 !important;
  font-size: 25px !important;
  line-height: 35px !important;
  color: #ffff
}

.dropdown {
  padding: 10px 10px;
  height: 46px;
  /* width: 224px; */
  background: linear-gradient(180deg,
      rgba(161, 241, 55, 0.005) 0%,
      rgba(161, 241, 55, 0.05) 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  border-radius: 40px;
  display: flex;
  align-items: center;
  margin-left: 15px;
  position: relative;
  cursor: pointer;
}

.usercontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.userDropdown {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  border-radius: 30px;
  background: linear-gradient(180deg, rgba(251, 191, 4, 0) 0%, rgba(251, 191, 4, 0.05) 100%);
  border: 1px solid rgba(251, 191, 4, 0.2);
  font-size: 16px;
  color: white;
  padding: 8px 10px;
}


.id {
  /* margin-left: 20px; */
  font-family: Inter;
  font-size: 12px;

  font-weight: 400;
  line-height: 16px;
  /* letter-spacing: 0em; */
  /* text-align: left; */
  color: #FBBF04;
}

.username {
  margin-left: 20px;
  /* margin-top: 0px; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #FBBF04;
}

.userimg {
  margin-left: 10px;
  width: 32px;
  height: 32px;
  border-radius: 100px;
}

.drop {
  margin-left: 10px;
  /* margin: 0px 10px 0px 10px; */
  /* color: white; */
  /* style={{ marginLeft: "2px", color: "white" */
}